* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, button {
  font-family:'Nunito Sans', sans-serif;
}

body{
  background-image: url(../assets/fondo-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.titulo-principal{
  font-size: 34px;
  margin-top: 100px;
  color: #440093;
  font-family: "Concert One", cursive;
  letter-spacing: 1px;
}

.main p{
  margin-top: 50px;
  font-weight: 700;
  color:  #440093;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.container__header {
  height: 100px;
  margin-left: 5%;
}

.logotipo {
  padding: 20px 0;
}

.oculto {
  display: none;
}
 

 
.container{
 
  text-align: center;
  display: block;
}


.main {
  width: 600px;
  height: 750px;
  margin: 0 auto;
  text-align: center;
  border: 4px solid #8b50cf;
  background-color: white;
  opacity: 0.9;
  border-radius: 40px;
}

.hanged__image{
  margin-top: 50px;
}
#correctas{
  font-size: 28px;
  font-weight: 700;
  color: #45484a;
}

#incorrectas{
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #D500F9;
}

.boton{
  margin-top: 15px;
  padding: 10px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  width: 200px;
  height: 60px;
  border: 1px solid #440093;
  background-color: #440093;
  font-size: 16px;
  font-weight: 900;
}

.boton:hover {
  border-color: #8b50cf;
  background-color: #8b50cf;
}

#resultado-gana {
  margin-top: 35px;
  color: green;
  font-size: 26px;
}

#resultado-pierde {
  margin-top: 35px;
  color: red;
  font-size: 26px;
}

.footer {
  background-color: #440093;
  color: white;
  height: 70px;
  width: 100%;
  padding: 0 20px;
  margin-top: auto;
}
.footer .footer-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.footer__items li {
  margin-left: 15px;
}