* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, button {
  font-family:'Nunito Sans', sans-serif;
}

body{
  
  background-color: #f7faff;
background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23acd9ff' fill-opacity='0.46' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.oculto {
  display: none;
}
 h1{
  margin-top: 40px;
  font-size: 30px;
  font-family: 'Nunito Sans', sans-serif;
  color: darkcyan;
 }

 
.container{
 
  text-align: center;
  display: block;
}



#correctas{
  font-size: 30px;
  font-weight: 700;
}

#incorrectas{
  margin-bottom: 20px;
  font-weight: 700;
  color: red;
}

.boton{
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
  background-color: cadetblue;
  color: white;
  cursor: pointer;

}

.boton:hover {
  background-color: darkcyan;
}

#resultado-gana {
  color: green;
  font-size: 20px;
}

#resultado-pierde {
  color: red;
  font-size: 20px;
}